<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer">

</head>
<body>

  <div class="log__main">
    <div class="form__main">
         <!-- Registration -->
         <div class="form" id="form-regis">
            <span class="title">Tài Khoản</span>
            <form th:action="@{/account/save}" th:object=${user} method="post">
            <input type="hidden" th:value="${page}" name="page">
            <input type="hidden" th:value="*{userName}" name="userName">
             <div class="input__field">
              <i class="fa-regular fa-user icon"></i>
              <input type="text" th:field="*{userName}" disabled="disabled"  required>
             </div>     
             <div class="input__field">
                <i class="fa-regular fa-user icon"></i>
                <input type="text" th:field="*{fullName}" placeholder="Tên đầy đủ" required>
               </div>   
             <div class="input__field">
              <i class="fa-regular fa-envelope icon"></i>
              <input type="text" th:field="*{email}" disabled="disabled" required>
             </div>   
             <div class="input__field">
              <i class="fa-regular fa-envelope icon"></i>
              <input type="text" th:field="*{phone}"  required>
             </div>   
             <div class="input__field">
                <i class="fa-solid fa-location-arrow"></i>
                <input type="text" th:field="*{address}"  placeholder="Sửa Địa Chỉ" required>
               </div> 
             <div class="input__field button">
              <input type="submit" value="Hoàn Thành" >
             </div>
           
            </form>
         
          </div>
          <!-- Registration -->
      </div>

</div>


</body>
</html>