<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer">

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
</head>
<body>
    <!-- header -->
    <header>
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand" th:href="@{/}">
                <img class="navbar__logo" src="/assets/logo.jpg" alt="">
                <span>Roku Coffee</span></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/}">Trang Chủ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Loại</a>
                    <div class="nav-item__cate row">
                      <!-- danh sách cafe -->
                      <ul class="nav-item__cate-list col-md-4"> 
                        <div class="d-flex align-items-center"> 
                          <i class="fa-solid fa-caret-right"></i>
                          <a th:href="@{/product/ca-phe-hat}" class="m-0">Cafe Hạt</a></div>
                       
                   
                      </ul>
                      <ul class="nav-item__cate-list col-md-4">
                        <div class="d-flex align-items-center"> 
                          <i class="fa-solid fa-caret-right"></i>
                          <a th:href="@{/product/ca-phe-phin}" class="m-0">Cafe Phin</a></div>
                    
                      
                      </ul>
                      <ul class="nav-item__cate-list col-md-4">
                        <div class="d-flex align-items-center"> 
                          <i class="fa-solid fa-caret-right"></i>
                          <a th:href="@{/product/ca-phe-hoa-tan}" class="m-0">Cafe Hòa Tan</a></div>
                 
                      
                      </ul>
                
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  th:href="@{/product/views}">Sản Phẩm</a>
                  </li>
                 
                </ul>
                <div class=" navbar__search d-flex">
                    <input class="navbar__search--form form-control"type="text" placeholder="Tìm kiếm" aria-label="default input example">
                    <i class="navbar__search--icon fa-solid fa-magnifying-glass" style="color: white;"></i>
                </div>
                <div class="navbar__cart">
                  <a th:href="@{/shopping-cart/views}" class="navbar__cart--link" > <i class="navbar__cart--icon fa-solid fa-cart-shopping"></i>
                    <span class="navbar__quantities">
                      
                    </span></a>
                  </span>
                </div>
                           <div class="navbar__user-dropdown">
                  <a class="navbar__user-link"><i class="fa-regular fa-user"></i></a>
                  <ul class="navbar__user-dropdown_list">
                    <li th:if="${userName}">Chào Mừng <span  th:text="${userName}"></span></li>
                    <li th:if="${userName}!='GUEST'"><a th:href="@{/account/view/5}">Tài Khoản</a></li>
                    <li th:if="${userName}!='GUEST'"><a th:href="@{/history/views}">Đơn Hàng</a></li>
                      <li th:if="${userName}=='GUEST'"><a th:href="@{/account/login/home}">Đăng Nhập</a></li>
                      <li th:if="${userName}!='GUEST'"><a th:href="@{/account/logout}">Đăng Xuất</a></li>
                    
  
                  </ul>
                  </div>
              </div>
            </div>
          </nav>
           <!-- navbar -->
    <!-- navbar sub -->

    <div class="navbar__sub">
        <div class="container-fluid">
            <div class="navbar__sub--intro">
                <h1 class="nav__sub--item">Trang Chủ</h1>
                <i class="fa-sharp fa-solid fa-arrow-right" style="font-size: 20px;"></i>
                <h1 class="nav__sub--item">Thanh Toán</h1>
            </div>
        </div>
    </div>

    <!-- navbar sub -->
    </header>
     <!-- header -->

     <!-- body -->
    <body>
       
      <!-- Cart -->

      <div class="container cart__page">
        
        <table>
          <tr>
            <th>Sản Phẩm</th>
            <th>Số lượng</th>
            <th>Giá</th>
          </tr>
          <form th:action="@{/shopping-cart/checkout}" method="POST" id="checkoutForm" th:object="${cartItemsDTO}">
          <tr th:each="cartItem,iter :*{cartItems}">
          <form th:action="@{/shopping-cart/updateCart}" method="post" name="quantityForm" id="quantityForm"> 
            <input type="hidden" name="productId" th:id="${cartItem.productId}" th:value="${cartItem.productId}"/>
            <td>
             <div class="cart__info">
              <img style="height: 100px;" id="output" class='img-thumbnail' th:src="'data:image/jpeg;base64,' + ${cartItemImages[iter.count-1]}" />
              <div class="cart__des">
                <p th:text="*{cartItems[__${iter.index}__].title}" ></p>
                <a th:href="@{/shopping-cart/delete/{id}(id=${cartItem.getProductId()})}">Remove</a>                
              </div>
              
            </td>
            <td>
              <input th:value=${cartItem.quantity} th:field="*{cartItems[__${iter.index}__].quantity}" id="quantity" name="quantity" type="number"  th:onchange="submitFormUpdateQuantity(event,[[${cartItem.productId}]])"  >
            </td>
            <td class="cart__page--price" th:text="*{cartItems[__${iter.index}__].price}"></td>
          </tr>
        </form>
        </table>
       
      </div>
      <div class="container total__price">

          <div class="check--out__address">
            <div class="check--out__address-header">
              <i class="fa-solid fa-location-dot"></i>
              <h2>Địa Chỉ Nhận Hàng</h2>
            </div>
            <p class="check--out__address-add" href="">Thêm</p>
            <input id="fullNameInput" type="hidden" th:value="${fullName}"> 
            <input id="addressInput" type="hidden" th:value="${address}"> 
            <input id="phoneInput" type="hidden" th:value="${phone}"> 
            <th:block th:if="${address!=''||phone == ''}">
              <span >
                <b>Họ Và Tên: </b><th:block th:utext="${fullName}"></th:block>; 
                <b>Địa Chỉ:</b><th:block th:utext="${address}"></th:block>
                <b>Điện Thoại: </b> <th:block th:utext="${phone}"></th:block>
                <input id="old" th:disabled="${address == ''}" disabled onchange="cancleExceptMe('new')" type="checkbox"> 
              </span> 
            </th:block>
            <th:block th:if="${address==''||phone == ''}">
              <span ><a href="/account/view/5"><b>Vui lòng nhập đầy đủ thông tin</b></a></span>
          </th:block>
            
          
            <p class="check--out__address-add">Địa chỉ khác</p>  
           <span id="orderRev" style="display: none"><b>Họ Và Tên: </b><b id="orderFullName"></b>; <b>Địa Chỉ:</b><b id="orderAddress"></b> ; <b>Họ Và Tên: </b><b id="orderPhone"></b>;<input id="new" onchange="cancleExceptMe('old')"type="checkbox"></span> 
           <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="paypal_input" checked>
            <label  class="form-check-label" for="flexRadioDefault1" style="font-size: 14px;">
             Paypal
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="shipcode_input" >
            <label class="form-check-label" for="flexRadioDefault2" style="font-size: 14px;">
              Thanh toán khi nhận hàng
            </label>
          </div>
          </div>

  
        <table>
          <tr>
            <td>Phí Vận Chuyển</td>
            <td>20.000</td>
          </tr>
          <tr>
            <td>Tổng Cộng</td>
            <td class="cart__page--price" th:text="${total+20000}"></td>
          </tr>
          
        </table>
      </div>
      <div class="container cart__page--check_out d-flex justify-content-end" >
        <button onclick="submitOrder()" class="cart__page__btn-cart-check" >Mua Ngay</button>
      </div>



      <!-- Cart -->
           
    </body>
      <!-- body -->

      <!-- footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="footer__element col-md-3">
                    <p>THANH TOÁN</p>
                    <div class="row">
                      <img class="footer__pay--icon col-md-4" src="/assets/visa.png" alt="">
                      <img class="footer__pay--icon col-md-4" src="/assets/mastercard.png" alt="">
                      <img class="footer__pay--icon col-md-4" src="/assets/jcb.png" alt="">
                      <img class="footer__pay--icon col-md-4" src="/assets/ame.png" alt="">
                      <img class="footer__pay--icon col-md-4" src="/assets/sp.png" alt="">
                    </div>
                </div>
                <div class="footer__element col-md-3">
                  <p>ĐƠN VỊ VẬN CHUYỂN</p>
                  <div class="row">
                    <img class="footer__deli--icon col-md-4" src="/assets/dvvc1.png" alt="">
                    <img class="footer__deli--icon col-md-4" src="/assets/jcb.png" alt="">
                    <img class="footer__deli--icon col-md-4" src="/assets/njVan.png" alt="">
                    <img class="footer__deli--icon col-md-4" src="/assets/best.png" alt="">
                    <img class="footer__deli--icon col-md-4" src="/assets/vt.png" alt="">
                    <img class="footer__deli--icon col-md-4" src="/assets/vnsp.png" alt="">
                  </div>
              </div>
                <div class="footer__element col-md-3">
                    <p>LIÊN HỆ</p>
                    <div class="footer__contact">
                      <div class="footer__contact-element">
                        <i class="fa fa-mobile-phone"></i>
                        <p>096861xxxx</p>
                    </div>
                    <div class="footer__contact-element">
                      <i class="fa-regular fa-envelope"></i>
                      <p>
                        quoccaoxxx@gmail.com
                      </p>
                   </div>
                    </div>
                </div>
                <div class="footer__element col-md-3">
                 <p>THEO DÕI CHÚNG TÔI TRÊN</p>

                 <div class="footer__contact">
                  <div class="footer__contact-element">
                    <i class="fa-brands fa-square-facebook"></i>
                    <p>Facebook
                    </p>
                  </div>
                  <div class="footer__contact-element">
                    <i class="fa-brands fa-instagram"></i>
                    <p>
                      Instagram
                    </p>
                  </div>
                  <div class="footer__contact-element">
                    <i class="fa-brands fa-square-twitter"></i>
                    <p>
                      Twitter
                    </p>
                  </div>

                </div>
            </div>
        </div>  
    </footer>
    <!-- footer -->
    <div class="modal disable__none">
      <div class="modal__container">
        <div class="modal__container-address">
          <h2>Địa Chỉ Mới</h2>
          <div class="modal__container-form">
            <div class="modal__container-form_per">
              <input id="modal__container-form_name" class="modal__container-form_name" type="text" th:value="${fullName!='chưa có'?fullName:''}" placeholder="Tên người nhận">
              <input class="modal__container-form_phone" type="text" th:value="${phone}" placeholder="Số Điện Thoại"
              onkeypress="if ( isNaN(this.value + String.fromCharCode(event.keyCode) )) return false;">
            </div>
            <div class="modal__container-form_add">
            
                <input class="modal__container-form_province" type="text" placeholder="Tỉnh/Thành Phố, Quận/Huyện, Phường/Xã" >
                <div class="modal__container-form_add-address">
                  <input class="modal__container-form_pro-spe" type="text" placeholder="Địa Chỉ Cụ Thể" required>
                  <div class="modal__container-form_add-address_control">             
                    <select class="form-select__province form-select" aria-label="Default select example">  
                    </select>
                    <select class="form-select__dis form-select" aria-label="Default select example">  
                    </select>
                    <select class="form-select__wards form-select" aria-label="Default select example">  
                    </select>
                  </div>
                  
              </div>
              
            </div>
          
          
         </div>
        </div>
        <div class="modal__container-button">
          <button id="cancelAddAddress"type="button">Trở Lại</button>
          <button id="okAddAddress" type="button">Hoàn Thành</button>
          <form ACTION="#" id="formCheckout"th:action="@{/shopping-cart/checkout}" th:object="${cartItemsDTO}" method="POST">
          <input type="hidden" id="receiverName" name="receiverName"/>
          <input type="hidden" id="receiverAddress" name="receiverAddress"/>
          <input id="total_input" type="hidden" name="totalPrices">
          <input id="input_val" type="hidden" name="paypal" value="true"/>
     <!-- ADD ALL THE OTHER FIELDS THAT ARE PART OF THE OBJECT -->
     </form>
        </div>
      </div>
    </div>
    <script th:inline="javascript">
    const navbar__user = document.querySelector('.navbar__user-dropdown_list')
    const logBut =  document.querySelector('.navbar__user-link')
    var a=/*[[${cartItemsDTO}]]*/
        console.log(a)
        const navbar__quantities = document.querySelector('.navbar__quantities')
        navbar__quantities.innerHTML = a.cartItems.length
    logBut.onclick = ()=>
    {
        navbar__user.classList.toggle('active')
    }
    const navbar__search = document.querySelector('.navbar__search input')

navbar__search.addEventListener('keypress',function(e)
{
  if (event.key === "Enter") {  
    document.location = '/product/search/'+navbar__search.value;
 		event.preventDefault();
     }
})
      const modal = document.querySelector('.modal')
      const check_out_address = document.querySelectorAll('.check--out__address-add')
      check_out_address.forEach((i)=>
      { 
        console.log(i)
        i.onclick=()=>
        {
          modal.classList.remove('disable__none')
        }
      })
   
//const butOuts = document.querySelectorAll('.modal__container-button button')
//butOuts.forEach((butOut)=>
//{
 // butOut.onclick = ()=>
//{
 // modal.classList.add('disable__none')
//}
//})
var cancelAddAddress=document.getElementById("cancelAddAddress")
var okAddAddress=document.getElementById("okAddAddress")
const phone_input = document.querySelector('.modal__container-form_phone')
const name_input = document.querySelector('.modal__container-form_name')
cancelAddAddress.onclick = ()=>
{
  inputAdd.value =''
  speAdd.value=''
  modal.classList.add('disable__none')
}
okAddAddress.onclick = ()=>

{ 
  if (name_input.value.length > 35)
{
    alert("Tên Quá Dài");
    return;
}
if (!(/[^a-zA-Z0-9\-]/.test(name_input.value)))
{
    alert("Tên chỉ được chứa chữ cái")
    return;
}
  if((speAdd.value=='') || (inputAdd.value ==''))
{
  alert('Vui Lòng Nhập Địa Chỉ Cụ Thể')
  speAdd.value=''
  return
}
  else if(phone_input.value=='')
  {
  alert('Vui Lòng Nhập Số Điện Thoại')
    return
  }
else 
{
  modal.classList.add('disable__none')
    console.log("data: "+speAdd.value);
    var orderRev=document.getElementById("orderRev");
    orderRev.style.display = "block";
    var orderFullName=document.getElementById("orderFullName");
    var orderAddress=document.getElementById("orderAddress");
    var orderPhone=document.getElementById("orderPhone");
    orderAddress.innerHTML=speAdd.value;
    // orderAddress.innerHTML=.value;
    var model_name_rev=document.getElementById("modal__container-form_name");
    var model_phone_rev=document.getElementById("modal__container-form_phone");
    if(model_phone_rev.value==""){
    	var phoneInput=document.getElementById("phoneInput");
    	//orderPhone
    	orderPhone.innerText=phoneInput.value;
    }
    if(model_name_rev.value==""){
    	var fullNameInput=document.getElementById("fullNameInput");
    	//orderFullName
    	orderFullName.innerText=fullNameInput.value;
    } 
}
    //alert("okAddAddress")
   
}
  const inputAdd = document.querySelector('.modal__container-form_province')
  console.log(inputAdd)
   const addsingPage = document.querySelector('.modal__container-form_add-address_control')
    const inputAddSins = document.querySelectorAll('.modal__container-form_add-address_control select')
    var fullNameInput=document.getElementById("fullNameInput");
  var addressInput=document.getElementById("addressInput");
  inputAdd.onfocus = (e)=>
  {
	  console.log("onclick")
    addsingPage.classList.toggle('disable')
     console.log(addsingPage)
  }
  var oldCheckbox=document.getElementById("old");
	var newCheckbox=document.getElementById("new");
	function submitOrder(){

		var orderFullName=document.getElementById("orderFullName");
		var orderAddress=document.getElementById("orderAddress");
		var orderPhone=document.getElementById("orderPhone");
		if(oldCheckbox.checked){  
			console.log("oldCheckbox.checked");
			submitOrderToController(fullNameInput.value,addressInput.value);
		} 
		if(newCheckbox.checked){
			console.log("newCheckbox.checked");
			submitOrderToController(orderFullName.innerHTML,orderAddress.innerHTML);
		}
    if(!oldCheckbox.checked&&!newCheckbox.checked)
    {
      alert('Vui lòng chọn địa chỉ')  
      return
    }
		//console.log(orderFullName.innerHTML);
		//console.log(orderAddress.innerText);
	}
	async function submitOrderToController(name,address){
    console.log("")
		var CartItemsDTO=/*[[${cartItemsDTO}]]*/
			console.log(CartItemsDTO);
      if(CartItemsDTO.cartItems.length==0){
        alert("Giỏ hàng trống")
        return;
      }
		console.log("name: "+name);
		console.log("address: "+address);
		var inputReceiverAddress=document.getElementById("receiverAddress");
		inputReceiverAddress.value=address;
		var inputReceiverName=document.getElementById("receiverName");
		inputReceiverName.value=name; 
		var formCheckout=document.getElementById("formCheckout");
		formCheckout.submit();
	}
 	function cancleExceptMe(id){
 		var checkbox=document.getElementById(id);
 		checkbox.checked=false;
 	}
  const paypal_input = document.querySelector('#paypal_input')
  paypal_input.onclick = ()=>
  {
    document.querySelector('#input_val').value = true
  }
  const shipcode_input = document.querySelector('#shipcode_input')
  shipcode_input.onclick = ()=>
  {
    document.querySelector('#input_val').value = false

  }
 var total = /*[[${total}]]*/
 console.log(total)
 const total_input = document.querySelector('#total_input')
 total_input.value = total/23799
 function getChangeMomneyFormat(price){
	let number = ""+price
	const { format } = new Intl.NumberFormat('vi-VN');
	const [, decimalSign] = /^0(.)1$/.exec(format(0.1));
	var num = number.replace(new RegExp(`[^${decimalSign}\\d]`, 'g'), '').replace(decimalSign, '.');
	var numFloat=parseFloat(num);
    let number3=numFloat.toLocaleString('vi-VN');
    return number3
}
const price = document.querySelectorAll('.cart__page--price')
    price.forEach((e)=>
    {
      var x = e.innerHTML;   
      e.innerHTML = getChangeMomneyFormat(x)
    })
    </script>

     <script src="/js/file.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script> -->
</body>
</html>