<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/test4.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer">

</head>
<body>
    
  <div class="log__main">
    <div class="form__main">
        <!-- login -->
            <!-- login -->
            <div class="form active" id="form-login">
              <span class="title forgot_title">Message</span>
              <form class="form_forgot" th:action="@{/account/forgot_password}" method="post" style="max-width: 420px; margin: 0 auto;">
            
                        <div class="input__field">
                        
                            <span class="input__field_message" th:text="${message}"></span>
                            
                      </div>     
             
                      
                        <div class="login-signup">
       
                              <a class="sign signup" th:href="@{/account/login}">Đăng Nhập Ngay</a>
            
                          </div>
                
                     
                       
                </form>
        
            </div>
            <!-- login -->
          
   
     
        <!-- login -->
      
      </div>

</div>
<script src="/js/login.js"></script>
</body>
</html>