<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer">

</head>
<body>
    
  <div class="log__main">
    <div class="form__main">
        <!-- login -->
        <div class="form active" id="form-login">
          <span class="title">Đăng Nhập</span>
          <form th:action="@{/account/login}" method="post">
            <input type="hidden" th:value="${page}" name="name">
           <div class="input__field">
            <i class="fa-regular fa-user icon"></i>
            <input type="text" th:value="${userName}" name="userName" placeholder="Nhập tên đăng nhập" required>
           </div>
           <div class="input__field">
            <i class="fa-solid fa-lock icon"></i>
            <i class="fa-regular fa-eye-slash show-hide-icon"></i>
            <input class="password" name="password" type="password" placeholder="Nhập mật khẩu" required>
           </div>
           <div class="login_rem">
            <span class="text disable">Nhớ Mật Khẩu</span>
            
            <a class="sign signup">
              <input th:checked="${remember}" type="checkbox" onchange="handleChange(this);" name="remember" id="rememberCheckbox"/>
            </a>
         
            
           </div>
           
           <span th:if="${message}" th:text="${message}" class="text disable"></span>
           <div class="input__field button">
            <input type="submit" value="Đăng Nhập" >
           </div>
          </form>
          <div class="login-signup">
            <span class="text disable">Chưa Có Tài Khoản?
              <a class="sign signup" th:href="@{/account/register}">Đăng Kí Ngay</a>
            </span>
          </div>
        </div>
        <!-- login -->
      
      </div>

</div>
<script src="./FormLogin.js"></script>
</body>
</html>