<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
<title>Insert title here</title>

<script th:inline="javascript" th:src="@{/js/main.js}"></script>
<script th:inline="javascript" th:src="@{/js/login.js}"></script>
<script type="text/javascript"></script>
</head>
<body>
	<div class="container mt-5">
    	<form th:action="@{/account/login}" method="POST" onsubmit="checkLogin()">
    		<input type="hidden" th:value="${page}" name="page"/>
    		<label>USERNAME</label><input type="text" id="name" name="userName">
    		<br>
    		<label>PASSWORD</label><input type="password"  id="password" name="password"><br>
    		<span id="message" th:text=${message} ></span>
    		<input 
    			th:checked="${remember}"
		      type="checkbox" 
		      onchange='handleChange(this);'
		      name="rememberCheckbox"
		      id="rememberCheckbox"/> <label>Remember me</label>
		      <br>
		      <input type="hidden" id="remember" name="remember">
    		<button type="submit">LOGIN</button>
    	</form>
    </div>
</body>
</html>